@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}


.range-slider {
  -webkit-appearance: none;
  width: 510px;
  height: 10px;
  background-color: #1addba;
  border-radius: 50px;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 150%;
  background-color: green;
  cursor: pointer;
}

.range-slider::-webkit-slider-runnable-track {
  background-color: green;
}